<th:block th:with="projectId=${project.id}"></th:block>
<div th:fragment="project">
    <div class="row mb-3">
        <div class="col-md-12">
            <div class="input-group input-group-sm">
                <label for="id" class="input-group-text">ID:</label>
                <input type="text" class="form-control" id="id" name="id" th:value="${project.id}" readonly>
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-12">
            <div class="input-group input-group-sm">
                <label for="name" class="input-group-text">Name:</label>
                <input type="text" class="form-control" id="name" name="name" th:value="${project.name}" readonly>
            </div>
        </div>
    </div>
    <table th:if="${mode == 'table'}" class="table table-fixed table-bordered table-striped table-responsive table-sm">
        <thead>
            <tr>
                <th class="col-lg-2">Id</th>
                <th class="col-lg-2">Text</th>
                <th class="col-lg-2">Status</th>
                <th class="col-lg-2">Completed at</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="task : ${tasks}">
                <td><span th:text="${task.id}"></span></td>
                <td><span th:text="${task.text}"></span></td>
                <td><span th:text="${task.status}"></span></td>
                <td><span th:text="${task.completedAt}"></span></td>
            </tr>
        </tbody>
    </table>
    <div th:if="${mode == 'board'}">
        <div class="row">
            <div class="col-md-4" id="todo">
                <div class="card">
                    <div class="card-header">To Do</div>
                    <ul class="list-group list-group-flush" id="todo-list">
                        <li th:each="task : ${tasks}" th:if="${task.status == 'Pending'}" class="list-group-item"
                            draggable="true" th:id="'task-' + ${task.id}">
                            <span th:text="${task.text}"></span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4" id="in-progress">
                <div class="card">
                    <div class="card-header">In Progress</div>
                    <ul class="list-group list-group-flush" id="in-progress-list">
                        <li th:each="task : ${tasks}" th:if="${task.status == 'In Progress'}" class="list-group-item"
                            draggable="true" th:id="'task-' + ${task.id}">
                            <span th:text="${task.text}"></span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4" id="done">
                <div class="card">
                    <div class="card-header">Done</div>
                    <ul class="list-group list-group-flush" id="done-list">
                        <li th:each="task : ${tasks}" th:if="${task.status == 'Done'}" class="list-group-item"
                            draggable="true" th:id="'task-' + ${task.id}">
                            <span th:text="${task.text}"></span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <a th:href="@{/web/projects/{id}/tasks/new(id=${project.id})}">Create task</a>

    <script th:inline="javascript">
        const projectId = /*[[${projectId}]]*/;
        const todoDiv = document.getElementById('todo');
        const inProgressDiv = document.getElementById('in-progress');
        const doneDiv = document.getElementById('done');

        function moveTask(e, target) {
            const elementId = e.dataTransfer.getData('text/plain');
            const taskId = elementId.substring(5);
            const targetStatus = target == todoDiv
                ? 'Pending'
                : target == inProgressDiv
                    ? 'In Progress'
                    : 'Done';
            
            window.location.href = encodeURI(`/web/projects/${projectId}/tasks/${taskId}/changestatus?status=` + targetStatus);
            const element = document.getElementById(elementId);
            const newElement = element.cloneNode(true);
            element.remove();

            target.querySelector('ul').appendChild(newElement);

            newElement.addEventListener('dragstart', (e) => {
                e.dataTransfer.setData('text/plain', newElement.id);
            });
        }

        todoDiv.querySelectorAll('li').forEach(li => {
            li.addEventListener('dragstart', (e) => {
                e.dataTransfer.setData('text/plain', li.id);
            });
        });

        inProgressDiv.querySelectorAll('li').forEach(li => {
            li.addEventListener('dragstart', (e) => {
                e.dataTransfer.setData('text/plain', li.id);
            });
        });

        doneDiv.querySelectorAll('li').forEach(li => {
            li.addEventListener('dragstart', (e) => {
                e.dataTransfer.setData('text/plain', li.id);
            });
        });

        todoDiv.addEventListener('dragover', (e) => {
            e.preventDefault();
        });

        todoDiv.addEventListener('drop', (e) => {
            e.preventDefault();
            moveTask(e, todoDiv);
        });

        inProgressDiv.addEventListener('dragover', (e) => {
            e.preventDefault();
        });

        inProgressDiv.addEventListener('drop', (e) => {
            e.preventDefault();
            moveTask(e, inProgressDiv);
        });

        doneDiv.addEventListener('dragover', (e) => {
            e.preventDefault();
        });

        doneDiv.addEventListener('drop', (e) => {
            e.preventDefault();
            moveTask(e, doneDiv);
        });
    </script>
</div>