<div th:fragment="project">
    <div class="row mb-3">
        <div class="col-md-12">
            <div class="input-group input-group-sm">
                <label for="id" class="input-group-text">ID:</label>
                <input type="text" class="form-control" id="id" name="id" th:value="${project.id}" readonly>
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-12">
            <div class="input-group input-group-sm">
                <label for="name" class="input-group-text">Name:</label>
                <input type="text" class="form-control" id="name" name="name" th:value="${project.name}" readonly>
            </div>
        </div>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Text</th>
                <th>Status</th>
                <th>Completed at</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="task : ${tasks}">
                <td><span th:text="${task.id}"></span></td>
                <td><span th:text="${task.text}"></span></td>
                <td><span th:text="${task.status}"></span></td>
                <td><span th:text="${task.completedAt}"></span></td>
            </tr>
        </tbody>
    </table>
    <a th:href="@{/web/projects/{id}/tasks/new(id=${project.id})}">Create task</a>
    
</div>