<div th:fragment="projects">
    <table class="table table-fixed table-bordered table-striped table-responsive table-sm">
        <thead>
            <tr>
                <th class="col-sm-2">Id</th>
                <th class="col-sm-2">Name</th>
                <th class="col-sm-2"></th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="project : ${projects}">
                <td th:text="${project.id}"></td>
                <td th:text="${project.name}"></td>
                <td><a th:href="@{/web/projects/{id}(id=${project.id})}">View</a></td>
            </tr>
        </tbody>
    </table>
    <a href="/web/projects/new">Create Project</a>
</div>